@tailwind base;
@tailwind components;
@tailwind utilities;


.bg-gradient-custom-new {
  background-image: linear-gradient(135deg, rgba(159, 159, 159, 0.46) 0%, rgba(159, 159, 159, 0.46) 14.286%,rgba(165, 165, 165, 0.46) 14.286%, rgba(165, 165, 165, 0.46) 28.572%,rgba(171, 171, 171, 0.46) 28.572%, rgba(171, 171, 171, 0.46) 42.858%,rgba(178, 178, 178, 0.46) 42.858%, rgba(178, 178, 178, 0.46) 57.144%,rgba(184, 184, 184, 0.46) 57.144%, rgba(184, 184, 184, 0.46) 71.43%,rgba(190, 190, 190, 0.46) 71.43%, rgba(190, 190, 190, 0.46) 85.716%,rgba(196, 196, 196, 0.46) 85.716%, rgba(196, 196, 196, 0.46) 100.002%),linear-gradient(45deg, rgb(252, 252, 252) 0%, rgb(252, 252, 252) 14.286%,rgb(246, 246, 246) 14.286%, rgb(246, 246, 246) 28.572%,rgb(241, 241, 241) 28.572%, rgb(241, 241, 241) 42.858%,rgb(235, 235, 235) 42.858%, rgb(235, 235, 235) 57.144%,rgb(229, 229, 229) 57.144%, rgb(229, 229, 229) 71.43%,rgb(224, 224, 224) 71.43%, rgb(224, 224, 224) 85.716%,rgb(218, 218, 218) 85.716%, rgb(218, 218, 218) 100.002%);
}
.bg-gradient-custom-new2 {
  background-image: radial-gradient(circle at center center, transparent 0%,rgb(0,0,0) 85%),linear-gradient(78deg, rgba(192, 192, 192,0.05) 0%, rgba(192, 192, 192,0.05) 50%,rgba(60, 60, 60,0.05) 50%, rgba(60, 60, 60,0.05) 100%),linear-gradient(227deg, rgba(97, 97, 97,0.05) 0%, rgba(97, 97, 97,0.05) 50%,rgba(52, 52, 52,0.05) 50%, rgba(52, 52, 52,0.05) 100%),linear-gradient(240deg, rgba(98, 98, 98,0.05) 0%, rgba(98, 98, 98,0.05) 50%,rgba(249, 249, 249,0.05) 50%, rgba(249, 249, 249,0.05) 100%),linear-gradient(187deg, rgba(1, 1, 1,0.05) 0%, rgba(1, 1, 1,0.05) 50%,rgba(202, 202, 202,0.05) 50%, rgba(202, 202, 202,0.05) 100%),linear-gradient(101deg, rgba(61, 61, 61,0.05) 0%, rgba(61, 61, 61,0.05) 50%,rgba(254, 254, 254,0.05) 50%, rgba(254, 254, 254,0.05) 100%),linear-gradient(176deg, rgba(237, 237, 237,0.05) 0%, rgba(237, 237, 237,0.05) 50%,rgba(147, 147, 147,0.05) 50%, rgba(147, 147, 147,0.05) 100%),linear-gradient(304deg, rgba(183, 183, 183,0.05) 0%, rgba(183, 183, 183,0.05) 50%,rgba(57, 57, 57,0.05) 50%, rgba(57, 57, 57,0.05) 100%),radial-gradient(circle at center center, hsl(351,4%,12%),hsl(351,4%,12%));
}

/* .bg-header{
  @apply bg-[url('/imgs/header.jpg')] bg-cover bg-center bg-no-repeat bg-gradient-to-b from-gray-900 to-gray-500 
} */

.bg-header{
  background-image: linear-gradient(to bottom, #070007df, rgba(2, 2, 2, 0.343)), url("/imgs/header.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/* sticky */
nav.sticky{
  @apply fixed top-0 left-0 w-full px-10 py-0.5 bg-gradient-to-t from-black to-gray-700 ;
  transition: padding 1s;
  
  z-index: 2000;
}

/* Fin sticky*/
/* Animation de menu */
.title{
  position: relative;
  z-index: 1000;
}

.title span{
  
  
  transition: 0.5s;
  
  will-change: transform;
  display: inline-block;
}

.s1 span {
transform-origin: bottom;
}

.s2 span {
  transform-origin: top;
  transform: translateY(100%) rotateX(-90deg);
}

.s2 {
  position: absolute;
  top: 0;
  left: 0;
}

.title:hover .s1 span {
  transform: translateY(-100%) rotateX(-90deg);
}

.title:hover .s2 span {
  transform: translateY(0%) rotateX(0deg);
}
/* Fin */

.nav-col {
  background-color:#EFEBEC;
}

.hero__img {
  width: 30rem;
}

.bg-gradient-custom {
  @apply bg-gradient-to-r from-gray-500 to-gray-100 text-white;
}

.pricing-card {
  height: 450px;
}

.pricing-card-main {
  height: 550px;
}

.btn {
  @apply uppercase font-bold px-10 py-4 rounded inline-flex;
}

footer {
  background-color: #061d36;
}

#menu-toggler {
  z-index: 999;
  width: 50px;
  height: 50px;
  position: absolute;
  top: 2rem;
  right: 2rem;
  opacity: 0;
}

#menu-bars {
  position: absolute;
  top: 2.1rem;
  right: 2.1rem;
}

#menu-toggler:checked {
  position: fixed;
}

#menu-toggler:checked ~ .menu {
  display: flex;
  justify-content: center;
  padding: 2rem;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  @apply bg-gradient-to-r from-blue-900 to-blue-500;
  
}

#menu-toggler:checked ~ #menu-bars > .close {
  display: flex;
  z-index: 100;
  position: fixed;
  top: 2.1rem;
  right: 2.1rem;
}

#menu-toggler:checked ~ #menu-bars > .bars {
  display: none;
}


/* =============carte 3D tournant=========== */
.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(350px,1fr));
  grid-gap: 30px;
  margin: 80px 0;
  
}

.card-wrapper {
  position: relative;
  min-height: 350px;
  perspective: 2000px;
  perspective-origin: top;
 
}

.card-wrapper:hover .card {
  transform: rotateY(180deg);
 
}

.card {
  position: relative;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 0.8s cubic-bezier(0.86,0,0.07,1);
  color: white;
  font-weight: bold;
}

.card-front, 
.card-back {
  position: absolute;
  height: 100%;
  width: 100%;
  padding: 30px;
  border-radius: 8px;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

.card-front{
  background: #ed5d34;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-wrapper:nth-child(even) .card-front {
  background-color: #1a2f42;
}
.card-wrapper:nth-child(even) .card-back {
  background-color: #1a2f42;
}

.card-front p {
  font-size: 25px;
  line-height: 35px;
}

.arrow-icon {
  position: absolute;
  right: 30px;
  bottom: 30px;
}

.card-price  {
  font-size: 45px;
}

.card-back {
  background:#ed5d34;
  transform: rotateY(180deg);
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-back a {
  display: inline-block;
  border-radius: 10px;
  padding: 15px;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-weight: normal;
  background-color: #fff;
  font-size: 14px;
  color:#333;
  transition: background-color 0.3s ease-out, color 0.3s ease-out;

}

.card-wrapper:nth-child(odd) .card-back a:hover {
  background-color: #1a2f42;
  color: #fff;
}
.card-wrapper:nth-child(even) .card-back a:hover {
  background-color: #ed5d34;
  color: #fff;
}